<div class="notes-header">
  <app-button (click)="hello()">Добавить заметку</app-button>
  <app-input placeholder="Поиск"></app-input>
  <div class="notes-header__sort">
    <div class="notes-header__sort-item">
      <p class="notes-header__sort-label">Сортировать по:</p>
    </div>
    <div class="notes-header__sort-item">
      <app-select
        [options]="noteOptions"
        [(selected)]="selectedNote"
        (selectedChange)="onNoteChange($event)"
      >
      </app-select>
    </div>
  </div>
</div>
