@import "styles";

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: hidden;
  &__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    position: sticky;
  }
  &__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &-item { }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border: 1px solid $super-light-gray;
    border-radius: $border-radius;
    background-color: $white;

    &-title {
      font-weight: $font-weight-bold;
    }::first-letter {
       text-transform: uppercase;
     }

    &-content {
      color: $dark-gray;
      white-space: nowrap;
      text-overflow: ellipsis;

    }::first-letter {
       text-transform: uppercase;
     }

    &:hover {
      background-color: $super-light-gray;
      cursor: pointer;
    }
  }

  &__empty {
    font-weight: $font-weight-bold;
    text-align: center;
  }
}
