@import "styles";

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: hidden;
  &__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    position: sticky;
  }
  &__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &-item { }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border: 1px solid $super-light-gray;
    border-radius: $border-radius;
    background-color: $white;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-button {
      position: absolute;
      display: none;
      top: 10px;
      right: 10px;
    }
    &:hover .notes-list__item-button {
        display: flex;

      }
    &-title,
    &-content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }::first-letter {
       text-transform: uppercase;
     }
    &-title {
      font-weight: $font-weight-bold;
    }

    &-content {
      color: $dark-gray;
    }

    &:hover {
      background-color: $light-gray;
      cursor: pointer;
    }
  }

  &__empty {
    font-weight: $font-weight-bold;
    text-align: center;
  }

  .selected {
    background-color: $super-light-gray;
  }
}
