<div class="note-description">

  <div class="note-description__content">
    <div class="note-description__header">
      <app-button class="note-description__header-item">Редактировать</app-button>
      <app-button class="note-description__header-item">Удалить</app-button>
    </div>
    <div class="note-description__content">
      <div class="note-description__title">
        adasdasdasd
      </div>
      <div class="note-description__text">
        asdfasdfasdf
      </div>
    </div>

  </div>

</div>
