<div class="note-description">
  <div class="note-description__content" *ngIf="!isNew && selectedNote && !isEditing">
    <div class="note-description__header">
      <app-button class="note-description__header-item" (click)="editNote()">Редактировать</app-button>
      <app-button class="note-description__header-item" (click)="deleteNote()">Удалить</app-button>
    </div>
    <div class="note-description__content" *ngIf="selectedNote">
      <div class="note-description__title">
        {{ selectedNote.title }}
      </div>
      <div class="note-description__text">
        {{ selectedNote.text }}
      </div>
    </div>
  </div>
  <div class="note-description__content" *ngIf="isNew || isEditing">
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
      <div class="note-description__header">
        <app-button class="note-description__header-item" type="submit" [disabled]='!noteForm.valid'>Сохранить</app-button>
        <app-button class="note-description__header-item" type="button" (click)="onCancel()">Отмена</app-button>
      </div>
      <div class="note-description__content">
        <div class="note-description__title">
          <app-input formControlName="title" type="text" placeholder="Введите заголовок"></app-input>
        </div>
        <div class="note-description__text-textarea">
          <app-textarea formControlName="text" placeholder="Введите текст заметки"></app-textarea>
        </div>
      </div>
    </form>
  </div>
</div>
